/*	
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

 @charset "UTF-8";
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
 body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   line-height: 1.22em;
   color:#A7A1AE;
   background-color:#1F2739;
 }
 
 h1  {
   font-size:2.3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   color: #4DC3FA;
 }



 .h31  {
  font-size:2em; 
  line-height:1em;
  text-align: center;
  color: #fff;
}

 .img{
  width:40%;height:auto;text-align: center; font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
 }
 
 h2  {
   font-size:1em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: rgb(33, 115, 223);
 }
  
 h2  {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: rgb(33, 115, 223);
}
 
 .hdd  {
  font-size:2em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #fff
}
 .subt  {
  font-size:2em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: rgb(32, 148, 202);
}
 

 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: rgb(63, 118, 238);
   text-decoration: none;
 }
 
 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .container th h1 {
     font-weight: bold;
     font-size: 1em;
   text-align: left;
   color: #185875;
 }
 
 .container td {
     font-weight: normal;
     font-size: 1em;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
           box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .container {
     text-align: left;
     overflow: hidden;
     width: 80%;
     margin: 0 auto;
   display: table;
   padding: 0 0 8em 0;
 }
 
 .container td, .container th {
     padding-bottom: 2%;
     padding-top: 2%;
   padding-left:2%;  
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
     background-color: #323C50;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
     background-color: #2C3446;
 }
 
 .container th {
     background-color: #1F2739;
 }
 
 .container td:first-child { color: #FB667A; }
 
 .container tr:hover {
    background-color: #464A52;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
           box-shadow: 0 6px 6px -6px #0E1119;
 }
 
 .container td:hover {
   background-color: #FFF842;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
     transition-duration: 0.4s;
     transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

table {

  
  color: #0a79df
  text-align: left;
  line-height: 20px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  width: 90%;
  margin: 20px auto;
  border-radius: .25rem;
}

thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr {
  padding: 10px;
}

tbody tr:hover {
  background-color: #00393d;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}


.gtext {
  color: white; 
    font-size: 140%;
}
.gtexts {
  color: white;; 
    font-size: 90%;
}
.dwd {
  color: rgb(117, 255, 37); 
    font-size: 100%;
}input[type=text], select, textarea {
    width: 40%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
} 








* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable ,#resp{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr,#resp {
  border-bottom: 1px solid #ddd;
  color: #f1f1f1;
}

#myTable tr.header {
  background-color: #f1f1f1;
} 

table tbody tr td a {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover 
{
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}


table tr td a {
    display:block;
    height:100%;
    width:100%;
}

 